{% extends "index.html" %}
{% block title %}
    Login
{% endblock %}

{% block panelLateral %}
{% endblock %}
{% block cabeceraTitulo %}



<div>
  <h3><span class="beauty">PLUCO</span></h3>
  <p style="float: left;margin-right: 400px;margin-top: 20px">
    Plataforma Universitaria Compartición Conocimiento
  </p>
</div>
{% endblock %}
{% block articuloPrincipal %}

<h1>Logg out</h1>
  <p>Adiós / Bye </p>
  <p style="float: right;margin-top: -18%;margin-right: 0px;">Desarrollado por: <strong>Rafael Lachica Garrido</strong></p>

</div>
{% endblock %}
